<h2>Temperature</h2>
<p>The temperature is <span id="current-temperature"><%= @temperature %><span></p>

<script type="text/javascript">
  xively.setKey("<%= @key %>");
  $("#current-temperature").xively('live', { feed: <%= @id %>, datastream: 'temperature' });
  // $("#current-temperature").xively('live', { feed: <%= @id %>, datastream: 'mbed' });
</script>
